/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) and (max-height : 400px) and (orientation : landscape) {

    .greeting {
        top: 13%;
        opacity: 0;
        font-size: 47px;
        animation: greeting-load-mobile 2000ms ease-out 1600ms;
        animation-fill-mode: forwards;
    }

    @keyframes greeting-load-mobile {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    .wand-of-light {
        padding: 10px;
        font-size: 25px;

    }

    .mode-buttons {
        top: 45%;
        z-index: 9999;
        width: auto;

    }

    .container1,
    .container3 {
        background-size: 250px;
        background-position: top;
        animation: firework-load 2000ms;
        animation-fill-mode: forwards;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .card-content {
        font-size: 22px;
        height: 65vh;
        padding: 40px 50px 50px;
        margin: auto;
        width: 450px;
        display: none;
        text-align: center;

    }

    .container2 {
        height: 80%;
        width: 300px;

    }


}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 480px) and (orientation : portrait) {
    body {
        background-color: #0F0F1A;
        height: 95vh;
        overflow: visible;
    }

    .container1,
    .container3,
    .card-content {
        display: none;
    }

    .greeting {
        text-align: center;
        width: 350px;
        top: 8%;
        opacity: 0;
        font-size: 0px;
        animation: greeting-load-mobile 2000ms ease-in-out 1600ms;
        animation-fill-mode: forwards;
    }

    @keyframes greeting-load-mobile {
        0% {
            opacity: 0;
            font-size: 55px;
        }

        100% {
            opacity: 1;
            font-size: 55px;

        }
    }

    .mode-buttons {
        top: 33%;
        z-index: 9999;
    }

    .wand-of-light {
        padding: 10px;
        font-size: 28px;
    }

    .card-content {
        font-size: 30px;
        height: 90vh;
        padding: 30px;
        /* padding-top: 50px; */
        margin: auto;
        text-align: left;
    }

    .container2 {
        background-image: url(images/fireworks10.jpeg);
        background-repeat: no-repeat;
        background-size: 85%;
        background-position: center;
        height: 75%;
        width: 100vw;
        margin: auto auto 0px;
        animation: container2-load 2000ms;
        animation-fill-mode: forwards;
        z-index: 9998;
        opacity: 1;
    }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 1300px) and (max-device-width : 1400px) and (orientation : landscape) {
    .card-content {
        font-size: 43px;
        padding-top: 50px;
        max-width: 670px;
        text-align: center;

    }
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    .greeting {
        text-align: center;
        width: 100%;
        top: 10%;
        opacity: 0;
        font-size: 80px;
        animation: greeting-load-mobile 6500ms 1900ms;
        animation-fill-mode: forwards;
    }

    @keyframes greeting-load-mobile {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;

        }
    }

    .wand-of-light {
        padding: 12px;
        font-size: 40px;

    }

    .container1,
    .container3,
    .card-content {
        display: none;
    }

    .card-content {
        font-size: 56px;
        height: 75vh;
        padding: 100px;
        margin: auto;

    }

    .container2 {
        background-image: url(images/fireworks10.jpeg);
        background-repeat: no-repeat;
        background-size: 80%;
        background-position: bottom;
        height: 80%;
        width: 100vw;
        margin: auto auto 0px;
        animation: container2-load 2000ms;
        animation-fill-mode: forwards;
        z-index: 9998;
        opacity: 1;
    }

    body {
        background-color: #0F0F1A;
        height: 98vh;
    }

    .mode-buttons {
        top: 26%;
        z-index: 9999;
        width: auto;

    }
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
    /* Styles */
}

/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
    /* Styles */
}
